<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <div class="header_menu_icon">
        <!-- <mat-icon>menu</mat-icon> -->
      </div>
      <img
        routerLink="/"
        src="../assets/images/logo.png"
        class="header_menu_logo"
        alt=""
      />

      <!-- <div class="header_menu_profile">
        <mat-icon style="margin-top: -5px">account_circle</mat-icon>
        <h4>Profile</h4>
      </div> -->

      <div class="header_menu_searchbar">
        <input type="text" class="header_menu_input" placeholder="Search" />
        <div class="header_menu_searchbar_icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>

    <div class="header_menu_profile">
      <mat-icon routerLink="profile" style="margin-top: 12px"
        >account_circle</mat-icon
      >
      <h4 routerLink="profile">Profile</h4>
    </div>

    <div class="header_menu_signin">
      <span
        (click)="signOut()"
        class="header_menu_top_item"
        *ngIf="auth.isLoggedIn()"
        >Hello, {{ auth.getUser() }}</span
      >
      <span
        routerLink="/login"
        class="header_menu_top_item"
        *ngIf="!auth.isLoggedIn()"
        >Hello, sign in</span
      >
      <div class="dropdown">
        <span class="drop" style="cursor: pointer" id="header_menu_bottom_item"
          >Accounts & Lists</span
        >
        <div class="dropdown-content-1">
          <span
            *ngIf="auth.isLoggedIn()"
            (click)="signOut()"
            routerLink="/login"
            >Sign Out</span
          >
        </div>
        <div class="dropdown-content-2">
          <span
            *ngIf="!auth.isLoggedIn()"
            (click)="signIn()"
            routerLink="/login"
            >Sign in</span
          >
        </div>
      </div>
    </div>
    <div routerLink="/login" class="header_menu_signin">
      <span class="header_menu_top_item">Returns</span>
      <span class="header_menu_bottom_item">& Orders</span>
    </div>
    <div routerLink="/checkout" class="header_menu_cart">
      <mat-icon>shopping_cart</mat-icon>
      <p class="header_cart_number">{{ shoppingCart.getCartLength() }}</p>
    </div>
    <h1 routerLink="/checkout" class="cartName">Cart</h1>
  </nav>
  <nav class="header_bottom">
    <mat-icon
      class="categories"
      style="
        cursor: pointer;
        margin-top: 5px;
        margin-left: 135px;
        transform: scale(1.1);
      "
    ></mat-icon>
    <div class="categoriesList" style="margin-left: 215px">
      <p style="margin-left: -10px">All</p>
      <li>Mobiles</li>
      <li>Laptops</li>
      <li>Home & Kitchen</li>
      <li>Watches</li>
      <li>Books</li>
      <li>Beauty</li>
      <li>Sports</li>
      <li>Bags</li>
      <li>Baby Products</li>
      <li>Imitation</li>
      <li>Health</li>
      <li>Grocery</li>
    </div>
  </nav>
</div>
