.header_top {
  height: 60px;
  background-color: black;
  font-size: 14px;
  display: flex;
  color: white;
  padding-right: 8px;
  padding-bottom: 8px;
}

.header_menu {
  display: flex;
  /* width: 100%; */
}

.header_menu > div {
  margin: 20px;
}

.header_menu_icon > mat-icon {
  font-size: 30px;
  align-items: center;
}

.header_menu_searchbar {
  display: flex;
  width: 60rem;
}

.header_menu_input {
  height: 40px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  margin-left: 40px;
  margin-top: -10px;
}

.header_menu_searchbar_icon {
  background-color: lightseagreen;
  height: 40px;
  width: 40px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  margin-top: -10px;
}

.header_menu_logo {
  object-fit: contain;
  height: 80px;
  margin-left: -40px;
  margin-top: 8px;
  margin-right: 20px;
}

.header_menu_signin {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 13px;
}

.header_menu_top_item {
  font-size: 13px;
  color: lightgray;
}

.header_menu_bottom_item {
  font-size: 14px;
  font-weight: bolder;
}

.header_menu_cart {
  display: flex;
  margin-top: 12px;
  margin-left: 150px;
  justify-content: space-around;
}

.header_cart_number {
  color: lightseagreen;
  font-size: 20px;
  font-weight: bolder;
}

.header_bottom {
  height: 30px;
  background-image: none;
  background-color: #232f3e;
  padding-left: 8px;
  font-size: 12px;
}

h1{
  margin-top: 30px;
  font-size: 14px;
  font-weight: bolder;
  margin-left: -50px;
}

.mat-icon{
  cursor: pointer;
}

.cartName{
  margin-left: 0px;
  margin-top: 20px;
  font-size: 12px;
}

