<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<app-sidebar></app-sidebar>
<div class="container">
  <!-- <div class="card"> -->
  <div class="">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img
                style="height: 500px; width: 600px"
                src="{{ item.thumbnail }}"
              />
            </div>
          </div>
          <div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li
                *ngFor="let image of item.images; let i = index"
                [class.active]="i == 0"
              >
                <a data-target="#pic-{{ i + 1 }}" data-toggle="tab">
                  <img style="height: 100px; width: 100px" src="{{ image }}" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div style="margin-top: 5px;" class="details col-md-6">
          <h3 class="product-title">{{ item.title }}</h3>
          <h3>Brand: {{ item.brand }}</h3>
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <h3 style="color: blue;">{{item.rating}} ratigns</h3>

          <p class="product-description"><strong>About this item : </strong> {{ item.description }}</p>
          <h4 class="price">
            Price : <span>$ {{ item.price }}</span>
          </h4>
          <p class="vote">
            <strong>91%</strong> of buyers enjoyed this product!
            <strong>(87 votes)</strong>
          </p>

          <h5 class="colors">
            colors:
            <span
              class="color orange not-available"
              data-toggle="tooltip"
              title="Not In store"
            ></span>
            <span class="color green"></span>
            <span class="color blue"></span>
          </h5><br><br>
          <div class="action">
            <button style="padding: 10px; margin-right: 10px;" class="add-to-cart btn btn-default" type="button" (click)="addToCart(item)">
              add to cart
            </button>
            <button style="padding: 10px;" class="like btn btn-default" type="button">
              <span class="fa fa-heart"></span>
            </button><br><br>
            <button routerLink="/checkout-page" style="padding: 10px; margin-right: 10px;" class="add-to-cart btn btn-default" type="button">
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
