.cartLogout{
  padding: 100px;
  margin: 5px;
  padding-left: 700px;
  padding-top: 200px;
}

.cartLogout button{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 120px;
}

.box{
  background-color: rgb(65, 201, 156);
  padding-bottom: 250px;
}
