.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -350px;
  background-color: lightgray;
}
.product > mat-card > img {
  object-fit: contain;
  height: 250px;
  width: 300px;
}

.product > mat-card > button {
  margin-top: 20px;
  background-color: rgb(65, 201, 156);
  border: 1px solid;
  padding-left: 50px;
  padding-right: 50px;
}

.product > mat-card {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 350px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}
