<div class="container">
<div style="margin-left: 350px;" class="col-md-6">
<form style="margin-top: 150px;" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>Name:</label>
  <input type="text" formControlName="name">
  <div *ngIf="profileForm.get('name').invalid && (profileForm.get('name').dirty || profileForm.get('name').touched)">
    <div *ngIf="profileForm.get('name').errors.required">Name is required.</div>
  </div>

  <label>Email:</label>
  <input type="email" formControlName="email">
  <div *ngIf="profileForm.get('email').invalid && (profileForm.get('email').dirty || profileForm.get('email').touched)">
    <div *ngIf="profileForm.get('email').errors.required">Email is required.</div>
    <div *ngIf="profileForm.get('email').errors.email">Email must be a valid email address.</div>
  </div>

  <label>Mobile Number:</label>
  <input type="tel" formControlName="mobileNumber">
  <div *ngIf="profileForm.get('mobileNumber').invalid && (profileForm.get('mobileNumber').dirty || profileForm.get('mobileNumber').touched)">
    <div *ngIf="profileForm.get('mobileNumber').errors.pattern">Mobile Number must be a valid phone number.</div>
  </div>

  <label>Shipping Address:</label>
  <textarea formControlName="shippingAddress"></textarea>
  <div *ngIf="profileForm.get('shippingAddress').invalid && (profileForm.get('shippingAddress').dirty || profileForm.get('shippingAddress').touched)">
    <div *ngIf="profileForm.get('shippingAddress').errors.required">Shipping Address is required.</div>
  </div>

</form>
</div>
<button type="submit" [disabled]="!profileForm.valid" (click)="onSubmit()">Update Profile</button>
</div>
