.checkout {
  background: none;
  display: flex;
  width: 100%;
  margin-top: 100px;
  background-color: lightgray;
}

.checkout_left {
  flex: 1;
  margin-left: 20px;
}

.checkout_empty{
  margin: 20px 20px 400px 20px;
}

.checkout_right{
  justify-content: flex-end;
  margin-left: 20px;
}
